body {
    background-color: #e6e8f4;
}

.rectangle {
    height: 300px;
    width: 75%;
  }

.blue {
    background-color: #2b87d1;
}

.red {
    background-color: red;
}

.button {
    margin-top:10px;
}

.reaction-text-time {
 font-size: large;   
}
